python-dotenv
tenacity==8.2.3
ipykernel
matplotlib
plotly
scikit-learn
dnspython
openai
azure-cosmos
langchain
tiktoken
langchain_openai
azure-identity
config 
gradio
langchain-core
langchain_community 
langchain_text_splitters
pypdf
docx2txt
ipywidgets